<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dms.dao.SysDao">

	<!-- 添加系统日志 -->
	<insert id="addLog" parameterType="log">
		insert into
		t_log
		(occurDate,userId,userName,operation)
		values
		(#{occurDate},#{userId},#{userName},#{operation})
	</insert>

	<!-- 获取系统日志列表 -->
	<select id="getLogList" parameterType="String" resultType="log">
		select 
		id,occurDate,userName,operation
		from
		t_log
		where isShow = 'show'
		<if test="startDate!=''">
			and occurDate &gt;= #{startDate} and occurDate &lt;= #{endDate}
		</if>
		<if test="userName!=''">
			and userName = #{userName}
		</if>
		<if test="content!=''">
			and operation = #{content}
		</if>
		order by occurDate desc
	</select>
	
	<!-- 批量删除系统日志 -->
	<update id="batchDelLog" parameterType="String">
		update t_log
		set isShow = 'notShow'
		where id ${str}
	</update>

	<!-- 校验角色名 -->
	<select id="checkRoleName" parameterType="String" resultType="role">
		select *
		from t_role
		where isShow = 'show' and name = #{name}
	</select>

	<!-- 新增角色 -->
	<insert id="addRole" parameterType="role">
		insert into
		t_role
		(name,description,creator,createDate)
		values
		(#{name},#{description},#{creator},#{createDate})
	</insert>

	<!-- 获得角色列表 -->
	<select id="getRoleList" parameterType="String" resultType="role">
		select id, name,description
		from t_role
		where isShow = 'show'
		<if test="name!=''">
			and name = #{name}
		</if>
		order by id desc
	</select>

	<!-- 获取角色信息详情 -->
	<select id="getRoleInfo" parameterType="int" resultType="role">
		select
		*
		from t_role
		where id = #{id}
	</select>

	<!-- 编辑角色信息 -->
	<update id="updateRoleInfo">
		update t_role
		set
		name = #{name},description = #{description}
		where id = #{id}
	</update>

	<!-- 删除角色信息 -->
	<update id="delRoleInfo" parameterType="int">
		update t_role
		set
		isShow = 'notShow'
		where id = #{id}
	</update>
	
	<!-- 校验群组名 -->
	<select id="checkUserGroupName" parameterType="String" resultType="userGroup">
		select * 
		from t_usergroup
		where isShow = 'show' and name = #{name}
	</select>
	
	<!-- 添加用户群组信息 -->
	<insert id="addUserGroup" parameterType="userGroup">
		insert into
		t_usergroup
		(name,description,creator,createDate)
		values
		(#{name},#{description},#{creator},#{createDate})
	</insert>
	
	<!-- 查询用户群组列表 -->
	<select id="getUserGroupList" parameterType="String" resultType="userGroup">
		select id,name,description
		from t_usergroup
		where isShow = 'show'
		<if test="name!=''">
			and name = #{name}
		</if>
		order by id desc
	</select>
	
	<!-- 获取用户群组详情 -->
	<select id="getUserGroupInfo" parameterType="int" resultType="userGroup">
		select
		*
		from t_usergroup
		where id = #{id}
	</select>
	
	<!-- 编辑用户群组信息 -->
	<update id="updateUserGroupInfo">
		update t_usergroup
		set name = #{name},description = #{description}
		where id = #{id}
	</update>
	
	<!-- 删除用户群组信息 -->
	<update id="delUserGroupInfo" parameterType="int">
		update t_usergroup
		set isShow = 'notShow'
		where id = #{id}
	</update>
	
	<!-- 删除用户本身的群组信息 -->
	<update id="delUserOwnGroupInfo" parameterType="int">
		update t_userinfo
		set userGroupId = null,userGroupName = ''
		where userGroupId = #{groupId}
	</update>
	
	<!-- 获取角色下拉列表内容 -->
	<select id="getAllRoleInfo" resultType="role">
		select id,name 
		from t_role
		where isShow = 'show'
		order by createDate desc
	</select>
	
	<!-- 获取用户群组下拉列表内容 -->
	<select id="getAllUserGroupInfo" resultType="userGroup">
		select id,name
		from t_usergroup
		where isShow = 'show'
		order by createDate desc
	</select>
	
	<!-- 获取页面功能列表 -->
	<select id="getPageFunctionList" resultMap="getPageFunctionListMap">
		select 
		t1.id,t1.title,t2.id as functionId,t2.fid,t2.functionName
		from 
		(select * from t_page where isShow = 'show') t1 
		left join 
		(select * from t_page_function where isShow = 'show') t2
		on t1.id = t2.pageId
	</select>
	
	<resultMap type="page" id="getPageFunctionListMap">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<collection property="lpf" ofType="pageFunction">
			<id column="functionId" property="id" />
			<result column="fid" property="fid" />
			<result column="functionName" property="functionName" />
		</collection>
	</resultMap>
	
	<!-- 增加员工信息 -->
	<insert id="addUserInfo" parameterType="userInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into
		t_userinfo
		(userName,password,roleId,roleName,userGroupId,userGroupName,createDate)
		values
		(#{userName},#{password},#{roleId},#{roleName},#{userGroupId},#{userGroupName},#{createDate})
	</insert>
	
	<!-- 添加员工功能权限 -->
	<insert id="addUserFunction" parameterType="userFunction">
		insert into
		t_user_function
		(userId,userName,pageId,functionId,fid,functionName)
		values
		<foreach collection="list" item="uf" separator=",">
			(#{uf.userId},#{uf.userName},#{uf.pageId},#{uf.functionId},#{uf.fid},#{uf.functionName})
		</foreach>
	</insert>
	
	<!-- 添加用户任务信息存储状态 -->
	<insert id="addTaskSaveStatus" parameterType="int">
		insert into 
		t_task_save_status
		(userId)
		values
		(#{userId})
	</insert>
	
	<!-- 获取用户列表 -->
	<select id="getUserList" resultType="userInfo">
		select
		id,userName,roleName,userGroupName
		from t_userinfo
		where isShow = 'show'
		<if test="userName!=''">
			and userName = #{userName}
		</if>
		<if test="roleId!=''">
			and roleId = #{roleId}
		</if>
		<if test="userGroupId!=''">
			and userGroupId = #{userGroupId}
		</if>
	</select>
	
	<!-- 获取用户详细信息 -->
	<select id="getUserInfo" parameterType="int" resultMap="getUserInfoMap">
		select
		t1.id,t1.userName,t1.roleId,t1.roleName,t1.userGroupId,t1.userGroupName,t2.pageId,t2.functionId,t2.fid,t2.functionName
		from
		(select * from t_userinfo where isShow = 'show' and id = #{id}) t1
		left join
		(select * from t_user_function where isShow = 'show' and userId = #{id}) t2
		on t1.id = t2.userId
	</select>
	
	<resultMap type="userInfo" id="getUserInfoMap">
		<id column="id" property="id" />
		<result column="userName" property="userName" />
		<result column="roleName" property="roleName" />
		<result column="userGroupName" property="userGroupName" />
		<collection property="lp" ofType="page">
			<id column="pageId" property="id" />
			<collection property="lpf" ofType="pageFunction">
				<id column="functionId" property="id" />
				<result column="fid" property="fid" />
				<result column="functionName" property="functionName" />
			</collection>
		</collection>
	</resultMap>
	
	<!-- 修改用户基本信息 -->
	<update id="updateUserInfo">
		update t_userinfo
		set
		userName = #{userName},roleId = #{roleId},roleName = #{roleName},userGroupId = #{userGroupId},userGroupName = #{userGroupName}
		where id = #{userId}
	</update>
	
	<!-- 删除用户功能权限 -->
	<update id="delUserFunction" parameterType="int">
		update t_user_function
		set isShow = 'notShow'
		where userId = #{userId}
	</update>
	
	<!-- 删除用户 -->
	<update id="delUser" parameterType="int">
		update t_userinfo
		set isShow = 'notShow'
		where id = #{userId}
	</update>
</mapper>