<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dms.dao.TaskDao">

	<!-- 发布任务前获取所有员工列表 -->
	<select id="getUserListBeforeAddTask" resultType="userInfo">
		select 
		id,userName
		from t_userinfo
		where isShow = 'show'
		order by id asc
	</select>
	
	<!-- 保存发布任务时填写的信息 -->
	<insert id="addTaskSaveInfo" parameterType="taskSave" useGeneratedKeys="true" keyColumn="id" keyProperty="id"> 
		insert into 
		t_task_save
		(userId,content,deadLine,attention,remark)
		values
		(#{userId},#{content},#{deadLine},#{attention},#{remark})
	</insert>
	
	<!-- 保存发布任务时上传的附件信息 -->
	<insert id="addTaskSaveAttachInfo" parameterType="taskSaveAttach">
		insert into
		t_task_save_attach
		(taskSaveId,path)
		values
		<foreach collection="list" item="tsa" separator=",">
			(#{tsa.taskSaveId},#{tsa.path})
		</foreach>
	</insert>
	
	<!-- 保存发布任务时选择的人员信息 -->
	<insert id="addTaskSaveUserInfo" parameterType="taskSaveUser">
		insert into
		t_task_save_user
		(taskSaveId,userId,userName)
		values
		<foreach collection="list" item="tsu" separator=",">
			(#{tsu.taskSaveId},#{tsu.userId},#{tsu.userName})
		</foreach>
	</insert>
	
	<!-- 更新发布任务的保存信息Id -->
	<update id="updateSaveAddStatus">
		update t_task_save_status
		set addId = #{addId} , addStatus = 1
		where userId = #{userId}
	</update>
	
	<!-- 检查用户是否有保存的发布任务信息 -->
	<select id="checkTaskSave" parameterType="int" resultType="int">
		select
		addId
		from t_task_save_status
		where userId = #{userId}
	</select>
</mapper>