<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dms.dao.TaskDao">

	<!-- 发布任务前获取所有员工列表 -->
	<select id="getUserListBeforeAddTask" resultType="userInfo">
		select 
		id,userName
		from t_userinfo
		where isShow = 'show' and status = 0
		order by id asc
	</select>
	
	<!-- 保存发布任务时填写的信息 -->
	<insert id="addTaskSaveInfo" parameterType="taskSave" useGeneratedKeys="true" keyColumn="id" keyProperty="id"> 
		insert into 
		t_task_save
		(userId,content,deadLine,attention,remark)
		values
		(#{userId},#{content},#{deadLine},#{attention},#{remark})
	</insert>
	
	<!-- 保存发布任务时上传的附件信息 -->
	<insert id="addTaskSaveAttachInfo" parameterType="taskSaveAttach">
		insert into
		t_task_save_attach
		(taskSaveId,path)
		values
		<foreach collection="list" item="tsa" separator=",">
			(#{tsa.taskSaveId},#{tsa.path})
		</foreach>
	</insert>
	
	<!-- 保存发布任务时选择的人员信息 -->
	<insert id="addTaskSaveUserInfo" parameterType="taskSaveUser">
		insert into
		t_task_save_user
		(taskSaveId,userId,userName)
		values
		<foreach collection="list" item="tsu" separator=",">
			(#{tsu.taskSaveId},#{tsu.userId},#{tsu.userName})
		</foreach>
	</insert>
	
	<!-- 更新发布任务的保存信息Id -->
	<update id="updateSaveAddStatus">
		update t_task_save_status
		set addId = #{addId} , addStatus = 1
		where userId = #{userId}
	</update>
	
	<!-- 检查用户是否有保存的发布任务信息 -->
	<select id="checkTaskSave" parameterType="int" resultType="String">
		select
		addId
		from t_task_save_status
		where userId = #{userId} and addStatus = 1
	</select>
	
	<!-- 获取保存的任务发布信息 -->
	<select id="getSaveTaskInfo" parameterType="int" resultMap="getSaveTaskInfoMap">
		select 
		t1.content,t1.deadLine,t1.attention,t1.remark,t2.path,t3.userId,t3.userName
		from 
		(select * from t_task_save where id = #{taskSaveId}) t1 
		LEFT JOIN t_task_save_attach t2 on t2.taskSaveId = t1.id and t1.id = #{taskSaveId} 
		LEFT JOIN t_task_save_user t3 on t3.taskSaveId = t1.id and t1.id = #{taskSaveId}
	</select>
	
	<resultMap type="taskSave" id="getSaveTaskInfoMap">
		<result column="content" property="content" />
		<result column="deadLine" property="deadLine" />
		<result column="attention" property="attention" />
		<result column="remark" property="remark" />
		<collection property="ltsa" ofType="taskSaveAttach" column="id">
			<result column="path" property="path" />
		</collection>
		<collection property="ltsu" ofType="taskSaveUser" column="id" >
			<result column="userId" property="userId" />
			<result column="userName" property="userName" />
		</collection>
	</resultMap>
	
	<!-- 发布任务信息 -->
	<insert id="addTaskInfo" parameterType="task" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into
		t_task
		(content,deadLine,level,parentId,attention,remark,creator,createDate)
		values
		(#{content},#{deadLine},#{level},#{parentId},#{attention},#{remark},#{creator},#{createDate})
	</insert>
	
	<!-- 添加任务附件信息 -->
	<insert id="addTaskAttachInfo" parameterType="taskAttach">
		insert into
		t_task_attach
		(taskId,path)
		values
		<foreach collection="list" item="ta" separator=",">
			(#{ta.taskId},#{ta.path})
		</foreach>
	</insert>
	
	<!-- 添加任务人员信息 -->
	<insert id="addTaskUserInfo" parameterType="taskUser">
		insert into
		t_task_user
		(taskId,userId,userName)
		values
		<foreach collection="list" item="tu" separator=",">
			(#{tu.taskId},#{tu.userId},#{tu.userName})
		</foreach>
	</insert>
	
	<!-- 发布任务后修改保存信息的状态 -->
	<update id="updateSaveAddStatusAfterPublishTask" parameterType="int">
		update t_task_save_status
		set addStatus = 0
		where userId = #{userId}
	</update>
	
	<!-- 获取当前用户尚未完成的任务列表(任务状态在自己身上) -->
	<select id="getMyUnDoTaskList" parameterType="int" resultType="map">
		select 
		t1.id,t1.content
		from 
		t_task t1,t_task_user t2
		where t1.isShow = 'show' and isDone = 'no' and isTransfer = 'no'
		and t2.taskId = t1.id and t2.userId = #{userId}
		order by t1.id
	</select>
	
	<!-- 获取任务的详细信息 -->
	<select id="getTaskInfo" parameterType="int" resultMap="getTaskInfoMap">
		select 
		t1.id,t1.content,t1.deadLine,t1.attention,t1.remark,t2.id as attachId,t2.path,t3.userId,t3.userName
		from 
		(select * from t_task where id = #{taskId} and isShow = 'show') t1 
		LEFT JOIN t_task_attach t2 on t2.taskId = t1.id and t1.id = #{taskId} and t2.isShow = 'show'
		LEFT JOIN t_task_user t3 on t3.taskId = t1.id and t1.id = #{taskId} and t3.isShow = 'show'
	</select>
	
	<resultMap type="task" id="getTaskInfoMap">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="deadLine" property="deadLine" />
		<result column="attention" property="attention" />
		<result column="remark" property="remark" />
		<collection property="lta" ofType="taskAttach">
			<id column="attachId" property="id" />
			<result column="path" property="path" />
		</collection>
		<collection property="ltu" ofType="taskUser">
			<result column="userId" property="userId" />
			<result column="userName" property="userName" />
		</collection>
	</resultMap>
	
	<!-- 判断任务是否已经被移交 -->
	<select id="judgeIfTaskTransfer" parameterType="int" resultType="String">
		select 
		transferId
		from t_task_transfer_status
		where isShow = 'show' and taskId = #{taskId}
	</select>
	
	<!-- 检查该任务是否存储过移交信息 -->
	<select id="checkIfTaskTransferSave" parameterType="int" resultType="taskTransferSaveStatus">
		select
		*
		from t_task_transfer_save_status
		where isShow = 'show' and taskId = #{taskId}
	</select>
	
	<!-- 添加任务移交保存的信息 -->
	<insert id="addTaskTransferSaveInfo" parameterType="taskTransferSave" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into
		t_task_transfer_save
		(taskId,content,deadLine,attention,remark)
		values
		(#{taskId},#{content},#{deadLine},#{attention},#{remark})
	</insert>
	
	<!-- 添加移交任务保存的人员信息 -->
	<insert id="addTaskTransferUserSave" parameterType="taskTransferUserSave">
		insert into
		t_task_transfer_user_save
		(transferSaveId,userId,userName)
		values
		<foreach collection="list" item="ttus" separator=",">
			(#{ttus.transferSaveId},#{ttus.userId},#{ttus.userName})
		</foreach>
	</insert>
	
	<!-- 添加移交任务保存的附件信息 -->
	<insert id="addTaskTransferAttachSave" parameterType="taskTransferAttachSave">
		
	</insert>
</mapper>