<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dms.dao.UserDao">

	<!-- 通过用户名&密码获取用户信息 -->
	<select id="getUserInfo" parameterType="userInfo" resultType="userInfo">
		select
		*
		from t_userinfo
		where
		userName= #{userName} and
		password = #{password}
		and isShow = 'show' and status = 0
	</select>

	<!-- 更新用户的最近登录时间 -->
	<update id="updateUserLastLoginTime">
		update
		t_userInfo
		set lastLoginTime = #{nowDate}
		where
		id = #{userId}
	</update>
</mapper>