<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 配置管理器 -->
<configuration>

	<typeAliases>
		<typeAlias type="dms.entity.UserInfo" alias="userInfo" />
		<typeAlias type="dms.entity.Role" alias="role" />
		<typeAlias type="dms.entity.UserGroup" alias="userGroup" />
		<typeAlias type="dms.entity.Line" alias="line" />
		<typeAlias type="dms.entity.LineStation" alias="lineStation" />
		<typeAlias type="dms.entity.Plan" alias="plan" />
		<typeAlias type="dms.entity.PlanAttach" alias="planAttach" />
		<typeAlias type="dms.entity.Log" alias="log" />
		<typeAlias type="dms.entity.Process" alias="process" />
		<typeAlias type="dms.entity.ProcessColumn" alias="processColumn" />
		<typeAlias type="dms.entity.ProcessContent" alias="processContent" />
		<typeAlias type="dms.entity.Info" alias="info" />
		<typeAlias type="dms.entity.InfoColumn" alias="infoColumn" />
		<typeAlias type="dms.entity.InfoContent" alias="infoContent" />
		<typeAlias type="dms.entity.Task" alias="task" />
		<typeAlias type="dms.entity.TaskAttach" alias="taskAttach" />
		<typeAlias type="dms.entity.TaskUser" alias="taskUser" />
		<typeAlias type="dms.entity.TaskSaveStatus" alias="taskSaveStatus" />
		<typeAlias type="dms.entity.TaskSave" alias="taskSave" />
		<typeAlias type="dms.entity.TaskSaveAttach" alias="taskSaveAttach" />
		<typeAlias type="dms.entity.TaskSaveUser" alias="taskSaveUser" />
		<typeAlias type="dms.entity.AccidentReport" alias="accidentReport" />
		<typeAlias type="dms.entity.AccidentReportAttach" alias="accidentReportAttach" />
		<typeAlias type="dms.entity.AccidentReportNo" alias="accidentReportNo" />
		<typeAlias type="dms.entity.Page" alias="page" />
		<typeAlias type="dms.entity.PageFunction" alias="pageFunction" />
		<typeAlias type="dms.entity.UserFunction" alias="userFunction" />
		<typeAlias type="dms.entity.MessageGroup" alias="messageGroup" />
		<typeAlias type="dms.entity.MessageGroupDetail" alias="messageGroupDetail" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mysql" />
		</plugin>
	</plugins>
</configuration>